.form-container{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.form-container__title{
  text-align: center;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.contact-form__group{
  position: relative;
  height: auto;
}

.contact-form__input{
  position: relative;
  border: 1px solid #2225;
  margin-top: 1rem;
  padding: 1rem .5rem;
  width: 100%;
  z-index: 1;
}

.contact-form__input:focus{
  border: 1.5px solid #222;
  outline: none;
}

.contact-form__input:valid{
  border: 2px solid var(--valid);
}

/* .contact-form__input:invalid{
  border: 2px solid var(--invalid);
} */

.contact-form__alert{
  position: absolute;
  top: 30%;
  z-index: 0;
  background-color: var(--invalid);
  font-size: 1.2rem;
  color: #fff;
  width: 100%;
  padding: .5rem;
  transition: all .1s linear;
}

.contact-form__alert--error{
  top: 60%;
  border: 1px solid var(--invalid);
}

.contact-form__submit{
  background-color: #222;
  border: none;
  color: #FBD720;
  font-size: 1.2rem;
  font-weight: bold;
  width: 80%;
  margin: 1rem auto 0 auto;
  padding: 1rem;
}

.contact-form__submit:hover{
  background-color: #FBD720;
  color: #222;
}
