.circle-up{
	position: fixed;
	bottom: 0;
	right: 0;
	border: none;
	border-radius: 100%;
	background-color: #FBD720;
	width: 100px;
	height: 100px;
	margin: 2.5rem 10rem;
	z-index: 300;
	cursor: pointer;
	transition: opacity .3s, visibility .3s linear;
}

.circle-up::before{
	content: url('/img/down-arrow.svg');
	display: inline-block;
	height: 50px;
	width: 50px;
	transform: rotate(180deg);
}

.circle-up:focus-visible{
	outline: none;
}

.circle-up:hover{
	opacity: 0.7;
}

.circle-up--hidden{
	visibility: hidden;
	opacity: 0;
}