.block-container{
	position: relative;
	background-color: #222222;
	overflow: hidden;
	height: 50vh;
}

.block-container__circle{
	position: absolute;
	background-color: #FBD720;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
